Source: serialportassistant
Section: main
Priority: optional
Maintainer: Kang Lin <kl222@126.com>
Build-Depends: debhelper (>= 6)
Standards-Version:"v0.5.14"
Homepage: https://github.com/KangLin/SerialPortAssistant
Vcs-Git: https://github.com/KangLin/SerialPortAssistant.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/SerialPortAssistant.git

Package: serialportassistant
Architecture: any
Recommends: qt6-qpa-plugins, libqt6svg6, libqt6svgwidgets6, libqt6webenginecore6-bin
#Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Serial Port Assistant 
