#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
# export DH_VERBOSE = 1

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

#export QT_SELECT=qt5

%:
	dh $@

ifdef WITH_CMARK_GFM
    PARAS += WITH_CMARK_GFM=$(WITH_CMARK_GFM)
    ifdef cmark-gfm_DIR
        PARAS += cmark-gfm_DIR=$(cmark-gfm_DIR)
    endif
endif

ifdef INSTALL_DIR
    LIB_PARAS += $(INSTALL_DIR)/lib
endif

# dh_make generated override targets
# This is example for Cmake ( See https://bugs.debian.org/641051 )
override_dh_auto_configure:
	dh_auto_configure --  -DCMAKE_BUILD_TYPE=Release \
        -DCMAKE_INSTALL_PREFIX=/opt/SerialPortAssistant \
        ${PARAS}

override_dh_auto_build:
	dh_auto_build -- $(if "`cat /proc/cpuinfo |grep 'cpu cores' |wc -l`" = "0",, -j`cat /proc/cpuinfo |grep 'cpu cores' |wc -l`)

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info -l`pwd`/debian/serialportassistant/opt/SerialPortAssistant/bin:`pwd`/debian/serialportassistant/opt/SerialPortAssistant/lib:`pwd`/debian/serialportassistant/opt/SerialPortAssistant/lib/`uname -m`-linux-gnu:$(LIB_PARAS)
