# https://specifications.freedesktop.org/menu-spec/latest/index.html

# https://specifications.freedesktop.org/desktop-entry-spec/latest/
[Desktop Entry]
Type=Application
Name=Serial Port Assistant
GenericName=Serial Port Assistant
Comment=Serial Port Assistant
Name[zh_CN]=串口助手
GenericName[zh_CN]=串口助手
Comment[zh_CN]=串口助手
Icon=org.Rabbit.SerialPortAssistant
Exec=/opt/SerialPortAssistant/bin/SerialPortAssistant.sh
Terminal=false
StartupNotify=true

# https://specifications.freedesktop.org/menu-spec/latest/apa.html
Categories=Utility;Development;Debugger

# https://www.freedesktop.org/wiki/Specifications/mime-apps-spec/
# https://www.freedesktop.org/wiki/Specifications/shared-mime-info-spec/
MimeType=application/octet-stream;text/plain;
