[Desktop Entry]
Type=Application
Name=Serial Port Assistant
GenericName=Serial Port Assistant
Comment=Serial Port Assistant
Name[zh_CN]=串口助手
GenericName[zh_CN]=串口助手
Comment[zh_CN]=串口助手
Icon=SerialPortAssistant
Exec=/opt/SerialPortAssistant/bin/SerialPortAssistant.sh
Terminal=false
StartupNotify=true
Categories=Application;Development;Tools
MimeType=application/octet-stream;text/plain;
